Repository AboodAsfari/cozy-caves, pull requests merged in 2023-09, with the labels that each got.

#187 183 rewrite the web app rendering system
  webapp/package-lock.json
  webapp/src/App.js
  webapp/src/mapview/MapPage.jsx
  webapp/src/mapview/ToolBar.jsx
  webapp/src/navbar/Navbar.jsx
  webapp/src/renderer/RendererCanvas.jsx
Labels: rendering map canvas

#193 189 add tilespacialtype enum and assign value to each tile
  dungeon-generation/package.json
  room-generation/package-lock.json
  room-generation/package.json
  room-generation/src/tile/tile.js
  room-generation/src/tile/tilerLogic.js
  room-generation/tests/room.test.js
  utils/index.js
  utils/package.json
  utils/src/tileSpacialType.js
  webapp/package.json
Labels: room generation, item & prop generation

#195 178 update prop metadata
  item-and-prop-generation/src/metadata/item_metadata.json
  item-and-prop-generation/src/metadata/prop_metadata.json
  item-and-prop-generation/src/metadata/propset_metadata.json
Labels: enhancement, item & prop generation, item & prop data creation

#192 Converted download dialog to a side popper
  webapp/src/mapview/ToolBar.jsx
Labels: website ui & wireframing

#191 188 enhance visuals of prop viewer
  dungeon-generation/package-lock.json
  webapp/package-lock.json
  webapp/src/mapview/Popup.jsx
  webapp/src/mapview/PropHoverView.jsx
  webapp/src/options/Options.jsx
  webapp/src/renderer/RendererCanvas.jsx
  webapp/src/renderer/Viewport.jsx
Labels: tile & item information viewer

#196 51 generate hallways
  docs/technical/HallwayGeneration/HallwayGenerationMethods_InitialPlan.pdf
  dungeon-generation/dungeonBuilder.js
  room-generation/package-lock.json
  room-generation/package.json
  room-generation/src/hallway/disjointSet.js
  room-generation/src/hallway/hallway.js
  room-generation/src/hallway/hallwayGenerator.js
  room-generation/tests/hallway.test.js
Labels: hallway generation

#198 197 add basic propless room merging and integrate with hallways
  room-generation/src/hallway/hallwayGenerator.js
  room-generation/src/layout/layout.js
  room-generation/src/room/room.js
Labels: room generation, hallway generation

#201 199 add simple custom tiler for hallways
  room-generation/src/hallway/hallwayGenerator.js
  room-generation/src/tile/tile.js
  room-generation/src/tile/tilerLogic.js
  room-generation/src/tile/tilerUtils.js
  room-generation/src/tile/tilers/defaultTiler.js
  room-generation/src/tile/tilers/hallwayTiler.js
Labels: rendering map canvas, room generation, hallway generation

#203 200 remove hallway tiles between entry and exit of intermediate rooms
  room-generation/src/hallway/hallway.js
  room-generation/src/hallway/hallwayGenerator.js
  room-generation/src/tile/tilers/hallwayTiler.js
Labels: hallway generation

#205 204 polish implementation of hallway room overlap mitigation
  room-generation/src/hallway/hallway.js
  room-generation/src/hallway/hallwayGenerator.js
Labels: hallway generation

#210 207 generate hallways rooms when mst generation fails
  room-generation/src/hallway/hallwayGenerator.js
Labels: hallway generation

#211 Make dungeon width and height change based on room size the user chooses
  webapp/src/mapview/MapSettingsPanel.jsx
  webapp/src/options/Options.jsx
Labels: website ui & wireframing

#209 Correct the anchor position for multitile props
  webapp/src/renderer/RendererCanvas.jsx
Labels: rendering map canvas
